{% extends "master.html" %}
{% block content %}
<!-- Hero -->
<main class="flex-grow-1">
    <div class="px-4  my-5">
        <h1 class="display-5 fw-bold text-body-emphasis about-h text-center">Dapurceumil</h1>
        <div class="col-lg-10 mx-auto">
            <p class="lead mb-4 fs-5 p-justify">Dapurceumil is a culinary destination where tradition meets innovation. We’re passionate about crafting delicious dishes that tantalize your taste buds. Our menu features a diverse range of Asian flavors, all prepared with the freshest ingredients.</p>
            <p class="lead mb-4 fs-5 p-justify">Since 2020, we’ve been committed to providing exceptional dining experiences. Whether you’re craving a cozy dinner or a lively gathering, our warm and inviting atmosphere is the perfect setting. Join us and discover the art of flavor. </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            </div>
        </div>
    </div>
</main>
{% endblock  %}